
/*--------------------------------------------------------------
# Kesehatan
--------------------------------------------------------------*/
.kesehatan {
    background: whitesmoke;
    padding: 30px 70px;
  }

.kesehatan .container-fluid{
    margin: auto;
    padding: auto;
}

.kesehatan .content{
    height: 100%;
    width: 100%;
}
  
  .kesehatan .section-title h2 {
    font-weight: 400;
    font-size: 60px;
  }
  
  .kesehatan .content h3 {
    font-size: 34px;
    text-align: center;
  }
  
  .kesehatan .content h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
  }
  
  .kesehatan .content p {
    font-size: 15px;
    color: #959595;
  }

  .kesehatan .content-status{
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 40px;
    justify-content: space-around;
    text-align: center;
  }

  .kesehatan .content-data{
    margin: auto;
    padding: 20px;
    justify-content: space-around;
    text-align: center;
  }

  .kesehatan .content-data .city{
    border: solid 2px;
  }
  
  .kesehatan .video-box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 400px;
    position: relative;
  }
  
  .kesehatan .accordion-list {
    padding: 0 100px 60px 100px;
  }
  
  .kesehatan .accordion-list ul {
    padding: 0;
    list-style: none;
  }
  
  .kesehatan .accordion-list li + li {
    margin-top: 15px;
  }
  
  .kesehatan .accordion-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
  }
  
  .kesehatan .accordion-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-right: 30px;
    outline: none;
  }
  
  .kesehatan .accordion-list span {
    color: #7cc576;
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
  }
  
  .kesehatan .accordion-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .kesehatan .accordion-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
  }
  
  .kesehatan .accordion-list .icon-show {
    display: none;
  }
  
  .kesehatan .accordion-list a.collapsed {
    color: #343a40;
  }
  
  .kesehatan .accordion-list a.collapsed:hover {
    color: #7cc576;
  }
  
  .kesehatan .accordion-list a.collapsed .icon-show {
    display: inline-block;
  }
  
  .kesehatan .accordion-list a.collapsed .icon-close {
    display: none;
  }
  
  .kesehatan .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#7cc576 50%, rgba(124, 197, 118, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
  }
  
  .kesehatan .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .kesehatan .play-btn::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(124, 197, 118, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
  }
  
  .kesehatan .play-btn:hover::after {
    border-left: 15px solid #7cc576;
    transform: scale(20);
  }
  
  .kesehatan .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
  }
  
  @media (max-width: 1024px) {
    .kesehatan .content, .kesehatan .accordion-list {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  @media (max-width: 992px) {
    .kesehatan .content {
      padding-top: 30px;
    }
    .kesehatan .accordion-list {
      padding-bottom: 30px;
    }
  }
  
  @-webkit-keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  